<div>
    <div class="imagen-header">
        <a [routerLink]="['/home']">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/The_Film_Zone_logo.PNG" alt="">
        </a>
        <a mat-fab color="basic" [routerLink]="['/cart']" class="carrito">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        <a *ngIf="admin" mat-fab color="basic" [routerLink]="['/create']" class="carrito">
            <mat-icon>cloud_upload</mat-icon>
        </a>
    </div>
    <div class="lista">
        <div>
            <div class="titulo-lista">
                <h2>Continuar viendo</h2>
            </div>
            <div class="listado">
                <div *ngFor="let movie of this.continuarViendo">
                    <app-card-movie [image]="movie.image" [name]="movie.name" [year]="movie.year" 
                        [price]="movie.price" [description]="movie.description" [duration]="movie.duration" 
                        [genre]="movie.genre" [filmZoneCategory]="movie.filmZoneCategory" 
                        [id]="movie.id" [addedToCart]="movie.addedToCart">
                    </app-card-movie>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <div class="titulo-lista">
                <h2>Tendencias hoy</h2>
            </div>
            <div class="listado2">
                <div *ngFor="let movie of this.tendencias">
                    <app-card-movie-big [image]="movie.image" [name]="movie.name" [year]="movie.year" 
                        [price]="movie.price" [description]="movie.description" [duration]="movie.duration" 
                        [genre]="movie.genre" [filmZoneCategory]="movie.filmZoneCategory" 
                        [id]="movie.id" [addedToCart]="movie.addedToCart">
                    </app-card-movie-big>
                </div>
            </div>
        </div>
        <div>
            <div class="titulo-lista">
                <h2>Recomendaciones para vos</h2>
            </div>
            <div class="listado">
                <div *ngFor="let movie of this.recomendaciones">
                    <app-card-movie [image]="movie.image" [name]="movie.name" [year]="movie.year" 
                        [price]="movie.price" [description]="movie.description" [duration]="movie.duration" 
                        [genre]="movie.genre" [filmZoneCategory]="movie.filmZoneCategory" 
                        [id]="movie.id" [addedToCart]="movie.addedToCart">
                    </app-card-movie>
                </div>
            </div>
        </div>
        <div>
            <div class="titulo-lista">
                <h2>Estrenos</h2>
            </div>
            <div class="listado">
                <div *ngFor="let movie of this.estrenos">
                    <app-card-movie [image]="movie.image" [name]="movie.name" [year]="movie.year" 
                        [price]="movie.price" [description]="movie.description" [duration]="movie.duration" 
                        [genre]="movie.genre" [filmZoneCategory]="movie.filmZoneCategory" 
                        [id]="movie.id" [addedToCart]="movie.addedToCart">
                    </app-card-movie>
                </div>
            </div>
        </div>
    </div>
</div>