<div class="carro">
    <div class="imagen-header">
        <a [routerLink]="['/home']">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/The_Film_Zone_logo.PNG" alt="">
        </a>
    </div>
    <div class="lista">
        <div class="titulo-lista">
            <h1>Lista de compras</h1>
        </div>
        <div class="listado">
            <ul>
                <li *ngFor="let movie of cartList">
                    <img [src]="movie?.image" alt="">
                    <div class="movie-title">
                        <h2>{{movie?.name}}</h2>
                    </div>
                    <div class="movie-price">
                        <p>{{movie?.price | currency}}</p>
                    </div>
                    <div *ngIf="this.admin" class="movie-client">
                        <p>
                            <span style="font-weight: 500; font-size: 15px;">Usuario: </span>
                            &nbsp; {{movie?.client}}
                        </p>
                    </div>
                    <div *ngIf="!movie?.rented && this.user.userName == movie?.client" class="movie-to-rent">
                        <a  mat-fab color="basic" matTooltip="Alquilar pelicula"
                            (click)="openModalRent(alquilar, movie)">
                            <mat-icon>shop</mat-icon>
                        </a>
                    </div>
                    <div *ngIf="movie?.rented && this.user.userName == movie?.client" class="movie-rented">
                        <p>Alquilada</p>
                    </div>
                    <div *ngIf="this.user.userName != movie?.client" class="movie-not-rented">
                    </div>
                    <div *ngIf="!movie?.rented; else return" class="movie-delete">
                        <a mat-fab color="warn" (click)="openModal(eliminar, movie?._id)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </div>
                    <ng-template #return>
                        <div class="movie-return">
                            <a mat-fab color="primary" matTooltip="Devolver pelicula"
                                    (click)="openModalRent(devolver, movie)">
                                <mat-icon>bubble_chart</mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </li>
            </ul>
        </div>
        <div *ngIf="this.sumaTotal > 0" class="titulo-total">
            <h3>Precio total:&nbsp; {{this.sumaTotal | currency}}</h3>
        </div>
    </div>
    <div style="margin-top: 4%; display: flex; justify-content: center; padding-bottom: 14%;">
        <a mat-raised-button color="warn" [routerLink]="['/home']" class="volver">
            Volver
        </a>  
    </div>
</div>

<ng-template #eliminar let-modal>
    <div class="modal-body">
        <p class="modal-title" id="modal-basic-title">¿Quiere eliminar la pelicula?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete()">Confirmar</button>
        <button type="button" class="btn btn-outline-primary" (click)="dismiss()">Cancelar</button>
    </div>
</ng-template>

<ng-template #alquilar let-modal>
    <div class="modal-body">
        <p class="modal-title" id="modal-basic-title">¿Quiere alquilar esta pelicula?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="rent()">Confirmar</button>
        <button type="button" class="btn btn-outline-primary" (click)="dismiss()">Cancelar</button>
    </div>
</ng-template>

<ng-template #devolver let-modal>
    <div class="modal-body">
        <p class="modal-title" id="modal-basic-title">¿Quiere devolver esta pelicula?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="returnMovie()">Confirmar</button>
        <button type="button" class="btn btn-outline-primary" (click)="dismiss()">Cancelar</button>
    </div>
</ng-template>
