.carro {
    background: rgb(137,82,189);
    background: linear-gradient(360deg, rgba(137,82,189,1) 0%, rgba(41,10,61,1) 100%);
}

.imagen-header img {
    width: 150px;
    padding-top: 15px;
    padding-left: 15px;
}

.titulo-lista h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.titulo-total {
    margin-top: 5%;
}

.titulo-total h3 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.listado {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    
}

.listado ul, .listado ul li {
    width: 90%;

}

.movie-rented, .movie-not-rented, .movie-to-rent {
    width: 300px;
}

.movie-rented p {
    font-weight: 500; 
    font-size: 17px;
}

.movie-rented {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.listado ul li {
    list-style: none;
    color: white;
    height: 100px;
    display: inline-flex;
    border-bottom: 2px solid rgb(51, 15, 63);
    padding-bottom: 10px;
    margin-top: 18px;
}

.listado ul li img{
    width: 150px;
    border-radius: 5px;
}

.listado ul li h2{
    display: flex;
    align-items: center;
    text-align: center;
}

.listado ul li p{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.movie-title {
    width: 350px;
}

.movie-duration, .movie-price,  .movie-title, .movie-delete, .movie-client, .movie-to-rent, .movie-return{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.movie-to-rent a {
    padding-top: 10px;
}

.movie-delete, .movie-return {
    padding-top: 12px;
}

.movie-return {
    margin-left: 22px;
}

.movie-delete {
    margin-left: 25px;
}

.movie-duration, .movie-price, .movie-delete, .movie-return{
    width: 150px;
}

