<div class="carro">
    <div class="imagen-header">
        <a [routerLink]="['/home']">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/The_Film_Zone_logo.PNG" alt="">
        </a>
    </div>
    <div class="lista">
        <div class="titulo-lista">
            <h1>Lista de compras</h1>
        </div>
        <div class="listado">
            <ul>
                <li *ngFor="let movie of cartList">
                    <img [src]="movie.image" alt="">
                    <div class="movie-title">
                        <h2>{{movie.name}}</h2>
                    </div>
                    <div class="movie-duration">
                        <p>{{movie.duration}}</p>
                    </div>
                    <div class="movie-price">
                        <p>{{movie.price | currency}}</p>
                    </div>
                    <div class="movie-delete">
                        <a mat-fab color="warn" (click)="delete(movie.id)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 14%; display: flex; justify-content: center;">
        <a mat-raised-button color="warn" [routerLink]="['/home']" style="width: 150px;">
            Volver
        </a>  
    </div>
</div>