<div class="carro">
    <div class="imagen-header">
        <a [routerLink]="['/home']">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/The_Film_Zone_logo.PNG" alt="">
        </a>
    </div>
    <div class="lista">
        <div class="titulo-lista">
            <h1>Lista de compras</h1>
        </div>
        <div class="listado">
            <ul>
                <li *ngFor="let movie of cartList$?.source | async">
                    <img [src]="movie.url" alt="">
                    <div class="movie-title">
                        <h2>{{movie.title}}</h2>
                    </div>
                    <div class="movie-description">
                        <p>{{movie.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>