.carro {
    background: rgb(137,82,189);
    background: linear-gradient(360deg, rgba(137,82,189,1) 0%, rgba(41,10,61,1) 100%);
}

.imagen-header img {
    width: 150px;
    padding-top: 15px;
    padding-left: 15px;
}

.titulo-lista h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.listado {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    
}

.listado ul {
    width: 80%;

}

.listado ul li {
    list-style: none;
    color: white;
    height: 100px;
    display: inline-flex;
    border-bottom: 2px solid rgb(51, 15, 63);
    padding-bottom: 10px;
    margin-top: 18px;
}

.listado ul li img{
    width: 150px;
    border-radius: 5px;
}

.listado ul li h2{
    display: flex;
    align-items: center;
    text-align: center;
}

.listado ul li p{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.movie-title {
    width: 320px;
}

.movie-duration, .movie-price,  .movie-title, .movie-delete{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.movie-delete {
    padding-top: 12px;
    margin-left: 25px;
}

.movie-duration, .movie-price, .movie-delete{
    width: 110px;
}

