<div class="row">
  <div class="col-6" style="display: flex; justify-content: center;">
    <div class="col-10 card" style="height: 550px; width: 550px; background: linear-gradient(0deg,#0e0909,#4a0404);">
      <div class="card-body">
        <div class="relative mt-4 mb-3" style="display: flex; justify-content: center;">
          <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid imagen-fondo" src="../../assets/fondo.png" alt="Foto perfil" />
          </div>                               
        </div>
        <h2 class="card-title" style="display: flex; justify-content: center;">Leandro Ariel Liggerini
        </h2>
        <h5 class="card-text" style="text-align: center;">Developer Full Stack</h5>
        <p class="card-text" style="text-align: center;">Tandil, Buenos Aires, Argentina</p>
      </div>
    </div>
  </div>
  <div class="col-6" style="display: flex; justify-content: center;">
    <div class="col-10 card" style="height: 550px; width: 550px; background: linear-gradient(0deg,#0e0909,#4a0404);">
      <div class="card-body mt-5">
        <h2 class="card-title mt-5 mb-5" style="display: flex; justify-content: center; text-align: center;">
          Estudiante de Tecnicatura Universitaria en Desarrollo de Aplicaciones Informáticas, UNICEN
        </h2>
        <h5 class="card-text mb-5" style="text-align: center;"><strong>Email: </strong> liggerinileo@gmail.com</h5>
        <div class="p-inner" style="display: flex; justify-content: center;">
          <a href="https://github.com/liggerinileo/Coderhouse" target="blank" class="linkgit">
            <img src="../../assets/git-icon.png" class="imggit" alt="Github Icon"/>
          </a>
          <a href="https://www.linkedin.com/in/leandro-liggerini-5a610014a/" target="blank" class="linklnk">
            <img src="../../assets/linkedin.png" class="imglnk" alt="Github Icon"/>
          </a>
        </div> 
      </div>
    </div>
  </div>
</div>