* {
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.imagen-fondo {
    border-radius:200px;
    width: 300px;
    height: 300px;
}

.imggit, .imglnk {
    width: 50px;
}

.linkgit {
    margin-right: 10px;
}

.linklnk {
    margin-left: 10px;
}