li a {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: #611212;
    font-family: 'Shadows Into Light', cursive;
}

li a:hover {
    background: linear-gradient(0deg,#0e0909,#4a0404);
    color: white;
}
