    <div style="display: flex; justify-content: center;">
      <div class="col-10 card" style="height: 550px; width: 950px; background: linear-gradient(0deg,#0e0909,#4a0404);">
        <div class="card-body mt-5">
          <h2 class="card-title mt-5" style="display: flex; justify-content: center; text-align: center;">
            Colegio Sagrada Familia, Tandil
          </h2>
          <p class="card-text mb-5" style="text-align: center;">Economía y Gestión de las Organizaciones</p>
          <h2 class="card-title mt-2" style="display: flex; justify-content: center; text-align: center;">
            Universidad Nacional de Mar del Plata
          </h2>
          <p class="card-text mb-5" style="text-align: center;">2011 - 2014 || Arquitectura</p>
          <h2 class="card-title mt-2" style="display: flex; justify-content: center; text-align: center;">
            Universidad Nacional del Centro de la Provincia de Bs.As.
          </h2>
          <p class="card-text" style="text-align: center;">2018 - Presente || Tecnicatura Universitaria en Desarrollo de Aplicaciones Informáticas</p>
        </div>
      </div>
    </div>