/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    background: rgb(137,82,189);
    background: linear-gradient(360deg, rgba(137,82,189,1) 0%, rgba(41,10,61,1) 100%);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
