<div style="display: flex; justify-content: center; height: 100vh; align-items: center;">
    <div class="card">
        <form [formGroup]="signupForm" (ngSubmit)="save()">
            <div style="display: flex; justify-content: center; text-align: left; margin-bottom: 30px;">
                <div class="crearCuenta">
                    <h1 style="color: rgb(20, 20, 94);">Crear cuenta</h1>
                </div>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput formControlName="userName">
            </mat-form-field>
            

            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <!--<mat-error *ngIf="this.email_valido.errors?.email">Email inv&aacute;lido</mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide" class="btn-visible">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.password?.errors?.required">Contraseña requerida</mat-error>
                <mat-error *ngIf="f.password?.errors?.minLength || f.password?.errors?.maxLength">Debe contener entre 6 y 15 caracteres</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirm_password">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide2" class="btn-visible">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.confirm_password?.errors?.confirmedValidator">Las contraseñas no coinciden</mat-error>
            </mat-form-field>

            <div class="admin">
                <mat-checkbox formControlName="isAdmin">¿Sos Administrador?</mat-checkbox>
            </div>

            <div style="margin-top: 40px;">
                <button mat-raised-button color="primary" [disabled]="!signupForm.valid">
                    Registrarse
                </button>
            </div>
        </form>
    </div>
</div>